
  <h2 class="text-center mt-4"><%= @user.username%>'profile</h2>
  <div class="text-center">
   <%= link_to "Update your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
  <h3 class="text-center mt-4">My library</h3>
  <div class="flickr_pagination">
    <%= will_paginate @books, :container => false %>
  </div>
    <%= render 'books/book' %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @books, :container => false %>
  </div>
